#body {
    text-align: center;
}

#red_circle {
    width: 100px;
    height: 100px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

#yellow_circle {
    width: 100px;
    height: 100px;
    background: yellow;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

#blue_circle {
    width: 100px;
    height: 100px;
    background: blue;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.circle {
    display:inline-block;
}

#red_button {
    font-size:16px;
    font-family:Arial;
    font-weight:normal;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #d83526;
    padding:9px 18px;
    text-decoration:none;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fe1a00), color-stop(100%, #ce0100) );
    background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
    background:-ms-linear-gradient( top, #fe1a00 5%, #ce0100 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
    background-color:#fe1a00;
    color:#ffffff;
    display:inline-block;
    text-shadow:1px 1px 0px #b23e35;
    -webkit-box-shadow:inset 1px 1px 0px 0px #f29c93;
    -moz-box-shadow:inset 1px 1px 0px 0px #f29c93;
    box-shadow:inset 1px 1px 0px 0px #f29c93;
}#red_button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ce0100), color-stop(100%, #fe1a00) );
    background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
    background:-ms-linear-gradient( top, #ce0100 5%, #fe1a00 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
    background-color:#ce0100;
}#red_button:active {
    position:relative;
    top:1px;
}#red_button[disabled] {
    background: #ccc;
    border: solid #ccc;
    -webkit-box-shadow:inset 1px 1px 0px 0px #ccc;
    -moz-box-shadow:inset 1px 1px 0px 0px #ccc;
    box-shadow:inset 1px 1px 0px 0px #ccc;
}#red_button[disabled]:active {
    position: static;
}

#yellow_button {
    font-size:16px;
    font-family:Arial;
    font-weight:normal;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #ffaa22;
    padding:9px 18px;
    text-decoration:none;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffec64), color-stop(100%, #ffab23) );
    background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
    background:-ms-linear-gradient( top, #ffec64 5%, #ffab23 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
    background-color:#ffec64;
    color:#333333;
    display:inline-block;
    text-shadow:1px 1px 0px #ffee66;
    -webkit-box-shadow:inset 1px 1px 0px 0px #fff6af;
    -moz-box-shadow:inset 1px 1px 0px 0px #fff6af;
    box-shadow:inset 1px 1px 0px 0px #fff6af;
}#yellow_button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffab23), color-stop(100%, #ffec64) );
    background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
    background:-ms-linear-gradient( top, #ffab23 5%, #ffec64 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
    background-color:#ffab23;
}#yellow_button:active {
    position:relative;
    top:1px;
}#yellow_button[disabled] {
    background: #ccc;
    border: solid #ccc;
    -webkit-box-shadow:inset 1px 1px 0px 0px #ccc;
    -moz-box-shadow:inset 1px 1px 0px 0px #ccc;
    box-shadow:inset 1px 1px 0px 0px #ccc;
}#yellow_button[disabled]:active {
    position: static;
}


#blue_button {
    font-size:16px;
    font-family:Arial;
    font-weight:normal;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #337fed;
    padding:9px 18px;
    text-decoration:none;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #3d94f6), color-stop(100%, #1e62d0) );
    background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
    background:-ms-linear-gradient( top, #3d94f6 5%, #1e62d0 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
    background-color:#3d94f6;
    color:#ffffff;
    display:inline-block;
    text-shadow:1px 1px 0px #1570cd;
    -webkit-box-shadow:inset 1px 1px 0px 0px #97c4fe;
    -moz-box-shadow:inset 1px 1px 0px 0px #97c4fe;
    box-shadow:inset 1px 1px 0px 0px #97c4fe;
}#blue_button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #1e62d0), color-stop(100%, #3d94f6) );
    background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
    background:-ms-linear-gradient( top, #1e62d0 5%, #3d94f6 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
    background-color:#1e62d0;
}#blue_button:active {
    position:relative;
    top:1px;
}#blue_button[disabled] {
    background: #ccc;
    border: solid #ccc;
    -webkit-box-shadow:inset 1px 1px 0px 0px #ccc;
    -moz-box-shadow:inset 1px 1px 0px 0px #ccc;
    box-shadow:inset 1px 1px 0px 0px #ccc;
}#blue_button[disabled]:active {
    position: static;
}

.button {
    display:inline-block;   
}